{% extends 'core/base.html' %}

{% load static %}

{% block title %}Contacto{% endblock %}

{% block background %}{% static 'core/img/imagen2.jpg' %}{% endblock %}

{% block headers %}
<h1>Contacto</h1>
<span class="subheading">Asesoria</span>
{% endblock %}

{% block content %}
<div class="col-lg-3 col-md-12 mx-auto"> 
        <p>Me pueden contactar mediante linkedin o correo electronico para solicitud de presupuestos</p>
        <br>
        <p><b>Teléfono:</b> +54 11 3031 6342</p>
        <p><b>Honorarios:</b> A convenir </p>
      </div>
{% endblock %}
